figure {
  background-image: url("../../assets/path.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  margin: 150px 0;

  img {
    display: block;
    margin: auto;
  }

  img.small {
    display: none;
  }
}