section#gallery {
  width: 900px;
  margin: 200px auto 0 auto ;
  height: 800px;
    background: radial-gradient(50% 50% at 50% 50%, #00338b 0%, #001130 100%);
  
  div.galleryWrap {
    margin: 60px auto;
    display: flex;  

    img#meme {
      display: block;
      transform: scale(.98);
      height: 570px;
    }

    div#select {
      display: flex;
      flex-wrap: wrap;

      img {
        display: block;
        width: 130px;
        height: 130px;
        margin: 6px;
        transition: .2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}