nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(15px);
  z-index: 5;

  div.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    a.logo {
      margin: 4px 12px;

      img {
        height: 45px;
      }
    }

    div.linkContainer {
      display: flex;

      a {
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 22px;
        border: 1px solid white;
        margin: 0 10px;
        height: 40px;
        width: 160px;
        text-align: center;
        line-height: 39px;
        border-radius: 10px;
        transition: 0.2s;

        &:hover {
          color: $dark;
          background-color: white;
        }
      }
    }

    p#burger,
    p#times {
      color: white;
      font-size: 40px;
      display: none;
      margin-right: 20px;
      line-height: 60px;
      cursor: pointer;
    }
  }
}

div.responsiveNav {
  background: rgb(21,53,164);
  background: linear-gradient(180deg, rgb(16, 44, 145) 0%, rgb(0, 24, 69) 100%);
  position: fixed;
  z-index: 11;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0%;
  overflow: hidden;
  transition: .3s;

  p#times {
    color: white;
    font-size: 100px;
    transform: translateY(-30px);
    text-align: end;
    margin-right: 20px;
    cursor: pointer;
  }

  div.buttonWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
    margin-bottom: 50px;


    a {
      font-size: 28px;
      font-family: Raleway, sans-serif;
      width: 180px;
      cursor: pointer;
      border-radius: 10px;
      height: 60px;
      font-weight: 600;
      transition: .2s;
      background-color: white;
      color: black;
      line-height: 60px;
      text-decoration: none;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  a {
    color: white;
    font-weight: 600;
    justify-self: end;
    text-align: center;
    position: relative;
    bottom: 10px;
    margin-bottom: 30px;

    &:hover {
      color: rgb(189, 189, 189);
    }
  }
}
